@-webkit-keyframes move {
  from {
    -webkit-transform: translateX(400px);
            transform: translateX(400px);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes move {
  from {
    -webkit-transform: translateX(400px);
            transform: translateX(400px);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes up {
  from {
    -webkit-transform: rotate(-40deg);
            transform: rotate(-40deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-40deg);
            transform: rotate(-40deg);
  }
}

@keyframes up {
  from {
    -webkit-transform: rotate(-40deg);
            transform: rotate(-40deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-40deg);
            transform: rotate(-40deg);
  }
}
@-webkit-keyframes down {
  from {
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
  }
}
@keyframes down {
  from {
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
  }
}


@-webkit-keyframes scale1 {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  5% {
    -webkit-transform: scale(1.04);
            transform: scale(1.04);
  }
  10% {
    -webkit-transform: scale(1.08);
            transform: scale(1.08);
  }
  15% {
    -webkit-transform: scale(1.12);
            transform: scale(1.12);
  }
  20% {
    -webkit-transform: scale(1.06);
            transform: scale(1.06);
  }
  25% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scale1 {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  5% {
    -webkit-transform: scale(1.04);
            transform: scale(1.04);
  }
  10% {
    -webkit-transform: scale(1.08);
            transform: scale(1.08);
  }
  15% {
    -webkit-transform: scale(1.12);
            transform: scale(1.12);
  }
  20% {
    -webkit-transform: scale(1.06);
            transform: scale(1.06);
  }
  25% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes scale2 {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  30% {
    -webkit-transform: scale(1.04);
            transform: scale(1.04);
  }
  35% {
    -webkit-transform: scale(1.08);
            transform: scale(1.08);
  }
  40% {
    -webkit-transform: scale(1.12);
            transform: scale(1.12);
  }
  45% {
    -webkit-transform: scale(1.06);
            transform: scale(1.06);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale2 {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  30% {
    -webkit-transform: scale(1.04);
            transform: scale(1.04);
  }
  35% {
    -webkit-transform: scale(1.08);
            transform: scale(1.08);
  }
  40% {
    -webkit-transform: scale(1.12);
            transform: scale(1.12);
  }
  45% {
    -webkit-transform: scale(1.06);
            transform: scale(1.06);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes scale3 {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  55% {
    -webkit-transform: scale(1.04);
            transform: scale(1.04);
  }
  60% {
    -webkit-transform: scale(1.08);
            transform: scale(1.08);
  }
  65% {
    -webkit-transform: scale(1.12);
            transform: scale(1.12);
  }
  70% {
    -webkit-transform: scale(1.06);
            transform: scale(1.06);
  }
  75% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale3 {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  55% {
    -webkit-transform: scale(1.04);
            transform: scale(1.04);
  }
  60% {
    -webkit-transform: scale(1.08);
            transform: scale(1.08);
  }
  65% {
    -webkit-transform: scale(1.12);
            transform: scale(1.12);
  }
  70% {
    -webkit-transform: scale(1.06);
            transform: scale(1.06);
  }
  75% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes scale4 {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  75% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  80% {
    -webkit-transform: scale(1.04);
            transform: scale(1.04);
  }
  85% {
    -webkit-transform: scale(1.08);
            transform: scale(1.08);
  }
  90% {
    -webkit-transform: scale(1.12);
            transform: scale(1.12);
  }
  95% {
    -webkit-transform: scale(1.06);
            transform: scale(1.06);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale4 {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  75% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  80% {
    -webkit-transform: scale(1.04);
            transform: scale(1.04);
  }
  85% {
    -webkit-transform: scale(1.08);
            transform: scale(1.08);
  }
  90% {
    -webkit-transform: scale(1.12);
            transform: scale(1.12);
  }
  95% {
    -webkit-transform: scale(1.06);
            transform: scale(1.06);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


@-webkit-keyframes loader-slide {
  from {
    top: -10px;
    right: -10px;
    background-color: red;
  }
  25% {
    top: 30px;
    right: -10px;
    background-color: blue;
  }
  50% {
    top: 30px;
    right: 300px;
    background-color: yellow;
  }
  75% {
    top: -10px;
    right: 300px;
    background-color: teal;
  }
  to {
    top: -10px;
    right: -10px;
  }
}

@keyframes loader-slide {
  from {
    top: -10px;
    right: -10px;
    background-color: red;
  }
  25% {
    top: 30px;
    right: -10px;
    background-color: blue;
  }
  50% {
    top: 30px;
    right: 300px;
    background-color: yellow;
  }
  75% {
    top: -10px;
    right: 300px;
    background-color: teal;
  }
  to {
    top: -10px;
    right: -10px;
  }
}
@-webkit-keyframes loader-scroll {
  from {
    width: 0;
    opacity: .3;
  }
  80% {
    width: 300px;
    opacity: 1;
  }
  to {
    width: 0;
    opacity: 0;
  }
}
@keyframes loader-scroll {
  from {
    width: 0;
    opacity: .3;
  }
  80% {
    width: 300px;
    opacity: 1;
  }
  to {
    width: 0;
    opacity: 0;
  }
}